body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9E7B9B;
}

header {
    background-color: #616283;
    width: 100%;
    height: 450px;
}

.logo img {
    position: relative;
    top: 22.5px;
    left: 20%;
    width: 400px;
    height: 90%;
    background-color: indigo;
    border-radius: 5%;
}